.form-container {
  text-align: center;
}

select, input[type="range"], input[type="date"] {
    margin-bottom: 10px;
}

form label{
  padding-left: 50px;
}



#projectContainer{
  padding: 20px 20px 20px 20px;
}

#projectGrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.projectCard{
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#checkMark{
  width: 40px;
}

#completion{
  color: green;
}